/* Topbar Styling */
/* Topbar Styling */
.topbary {
  position: fixed;
  top: 0;
  width: 100%; /* Adjust this value to control the width */
  height: 60px;
  left: 0;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
  }
  
  .topbary .bi-bell-fill{
  font-size: 30px;
  margin-left: -150px;
  }
      
  .topbary .logoy h2 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
  color: #4070f4;
  }
        
  .searchs {
  display: flex;
  align-items: center;
  }
        
  .searchs input {
  padding: 8px;
  border-radius: 4px;
  width: 600px;
  height: 35px;
  border: none;
  outline: none;
  background: #f5f5f5;
  }
        
  .searchs label {
  margin-left: 10px;
  cursor: pointer;
  color: #554f4f;
  font-weight: 700;
  }
        
  .usery img {
  width: 40px;
  height: 40px;
  margin-right: -150px;
  border-radius: 50%;
  cursor: pointer;
  }
      
  .topbary .welcoming{
  font-size: 18px;
  margin-right: -360px;
  }
        
  /* Sidebar Styling */
  .sidebary {
  position:fixed;
  top: 60px;
  left: 0;
  height: 100%;
  width: 50px;
  background:#4070f4;
  padding: 30px 4px;
  border-radius: 8px;
  transition: all 0.3s ease;  
  z-index: 999;
  }
      
  .sidebary.active{
  width: 240px;
  }
      
  .sidebary #btn{
  position: absolute;
  color: white;
  left:10%;
  top: 6px;
  font-size: 30px;
  font-weight: bold;
  height: 35px;
  width: 33px;
  text-align: center;
  line-height: 50px;
  transform: translateY(-40%);
  cursor: pointer;
  }
                  
  .sidebary.active #btn{
  left:86%;
  }
        
  .sidebary ul {
  margin-top: 20px;
  }
        
  .sidebary ul li {
  position: relative;
  height: 50px;
  width: 90%;
  margin: 20px 5px;
  list-style: none;
  line-height: 30px;
  }
      
  .sidebary ul li .tooltip{
  position: absolute;
  left: 60px;
  height: 35px;
  top: 50%;
  margin-top: -7px;
  transform: translateY(-50%);
  border-radius: 5px;
  width: 122px;
  background: #4070f4;
  color: white;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  }
      
  .sidebary.active ul li .tooltip{
  display: none;
  }
                  
  .sidebary ul li:hover .tooltip{
  transition: all 0.3s ease;
  opacity: 1;
  top: 50%;
              
  }
  
  .sidebary ul li .tooltipy{
  position: absolute;
  left: 60px;
  height: 35px;
  top: 50%;
  margin-top: -7px;
  transform: translateY(-50%);
  border-radius: 5px;
  width: 122px;
  margin-top: 205px;
  background: #4070f4;
  color: white;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  }
          
  .sidebary.active ul li .tooltipy{
  display: none;
  }
                      
  .sidebary ul li:hover .tooltipy{
  transition: all 0.3s ease;
  opacity: 1;
  top: 50%;
                  
  }
      
  .sidebary ul li a {
  color: white;
  display: flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s ease;
  border-radius: 5px;
  white-space: nowrap;
  }
        
  .sidebary ul li a:hover {
  color: #4070f4;
  display: flex;
  background: white;
  }
      
  .sidebary .links-name{
  opacity: 0;
  margin-left: 20px;
  pointer-events: auto;
  transition: all 0.5s ease;
  }
          
  .sidebary.active .links-name{
  opacity: 1;
  pointer-events: auto;
  }
        
  .sidebary ul li a i {
  height: 20px;
  min-width: 25px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;  
  }
      
  .sidebary .navigation{
  margin-top: 300px;
  }

.allocation-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }

  .sidebar.active~.allocation-container{
    grid-template-columns: repeat(auto-fill, minmax(450px, .38fr));
    margin-left: 280px;
    }
  
  .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .student-card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    box-shadow: 0 0 8px rgba(151, 149, 149, 0.8);
  }
  
  .student-details p {
    margin: 8px 0;
    font-size: 25px;
  }

  .bursary-allocation {
    margin-top: 20px;
  }
  
  .bursary-allocation label {
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .bursary-allocation input{
  width: 23px;
  height: 23px;
  }
  
  .allocate-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #2196F3;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 4px;
  cursor: pointer;
  }
  